@font-face {
  font-family: "iconfont"; /* Project id 3535156 */
  src: url('~@/assets/icon/iconfont.ttf?t=1658298848938') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shequ:before {
  content: "\e600";
}

.icon-shequ1:before {
  content: "\e67e";
}

.icon-kuaijin:before {
  content: "\e60d";
}

.icon-luzhi:before {
  content: "\e60e";
}

.icon-shangyishou:before {
  content: "\e60f";
}

.icon-kuaitui:before {
  content: "\e610";
}

.icon-bofang:before {
  content: "\e611";
}

.icon-tingzhi:before {
  content: "\e612";
}

.icon-suiji:before {
  content: "\e613";
}

.icon-xiayishou:before {
  content: "\e614";
}

.icon-suiji1:before {
  content: "\e615";
}

.icon-xihuan:before {
  content: "\e616";
}

.icon-xunhuan:before {
  content: "\e617";
}

.icon-fenxiang:before {
  content: "\e618";
}

.icon-suiji2:before {
  content: "\e619";
}

.icon-xunhuan1:before {
  content: "\e61a";
}

.icon-xunhuan2:before {
  content: "\e61b";
}

.icon-yinfu:before {
  content: "\e61c";
}

.icon-xihuan1:before {
  content: "\e61d";
}

.icon-xunhuan3:before {
  content: "\e61e";
}

.icon-yinpinliebiao:before {
  content: "\e61f";
}

.icon-suiji3:before {
  content: "\e620";
}

.icon-zanting:before {
  content: "\e621";
}

.icon-yinfu1:before {
  content: "\e622";
}

.icon-xunhuan4:before {
  content: "\e623";
}

.icon-suiji4:before {
  content: "\e624";
}

.icon-xunhuan5:before {
  content: "\e625";
}

.icon-yinfu2:before {
  content: "\e626";
}

.icon-xunhuan6:before {
  content: "\e627";
}

.icon-yinfu3:before {
  content: "\e628";
}

.icon-xunhuan7:before {
  content: "\e629";
}

.icon-yinfu4:before {
  content: "\e62a";
}

.icon-baocun_bg:before {
  content: "\e62b";
}

.icon-changpian_bg:before {
  content: "\e62c";
}

.icon-bofang_bg:before {
  content: "\e62d";
}

.icon-caidan_bg:before {
  content: "\e62e";
}

.icon-fasheta_bg:before {
  content: "\e62f";
}

.icon-danchu_bg:before {
  content: "\e630";
}

.icon-junhengqi__bg:before {
  content: "\e631";
}

.icon-cidai_bg:before {
  content: "\e632";
}

.icon-kuaitui_bg:before {
  content: "\e633";
}

.icon-junhengqi_bg:before {
  content: "\e634";
}

.icon-jingyin_bg:before {
  content: "\e635";
}

.icon-junhengqi_quxiao_bg:before {
  content: "\e636";
}

.icon-kuaijin_bg:before {
  content: "\e637";
}

.icon-labaguangbo_bg:before {
  content: "\e638";
}

.icon-shouyinji_bg:before {
  content: "\e639";
}

.icon-tianjia_bg:before {
  content: "\e63a";
}

.icon-laba_bg:before {
  content: "\e63b";
}

.icon-shanchu_bg:before {
  content: "\e63c";
}

.icon-maikefeng_bg:before {
  content: "\e63d";
}

.icon-wenjianjia_bg:before {
  content: "\e63e";
}

.icon-xunhuan_bg:before {
  content: "\e63f";
}

.icon-xin_bg:before {
  content: "\e640";
}

.icon-wuxianpu_bg:before {
  content: "\e641";
}

.icon-zanting1_bg:before {
  content: "\e642";
}

.icon-quxiaobofang_bg:before {
  content: "\e643";
}

.icon-yinliang_bg:before {
  content: "\e644";
}

.icon-zanting_bg:before {
  content: "\e645";
}

.icon-luzhi_bg:before {
  content: "\e646";
}

.icon-zhongbo_bg:before {
  content: "\e647";
}

.icon-biaodan:before {
  content: "\e648";
}

.icon-caidan:before {
  content: "\e649";
}

.icon-bianji:before {
  content: "\e64a";
}

.icon-gengduo:before {
  content: "\e64b";
}

.icon-huiyuanzhongxin:before {
  content: "\e64c";
}

.icon-faxian:before {
  content: "\e64d";
}

.icon-kaishi:before {
  content: "\e64e";
}

.icon-pinlun:before {
  content: "\e64f";
}

.icon-pingjia:before {
  content: "\e650";
}

.icon-qita:before {
  content: "\e651";
}

.icon-sousuo:before {
  content: "\e652";
}

.icon-gerenzhongxin:before {
  content: "\e653";
}

.icon-saoyisao:before {
  content: "\e654";
}

.icon-shangyishou1:before {
  content: "\e655";
}

.icon-xiaoxi:before {
  content: "\e656";
}

.icon-xiayishou1:before {
  content: "\e657";
}

.icon-xinxi:before {
  content: "\e658";
}

.icon-yincang:before {
  content: "\e659";
}

.icon-yinlequan:before {
  content: "\e65a";
}

.icon-tixing:before {
  content: "\e65b";
}

.icon-xihuan2:before {
  content: "\e65c";
}

.icon-shezhi:before {
  content: "\e65d";
}

.icon-zanting1:before {
  content: "\e65e";
}

.icon-tuichu:before {
  content: "\e65f";
}

.icon-xunhuan8:before {
  content: "\e660";
}

.icon-shoucang:before {
  content: "\e661";
}

.icon-kefu:before {
  content: "\e662";
}

.icon-kuaitui1:before {
  content: "\e68e";
}

.icon-kuaijin1:before {
  content: "\e68f";
}

.icon-bofangzhong:before {
  content: "\e690";
}

.icon-gengduo1:before {
  content: "\e691";
}

.icon-tinggeshiqu:before {
  content: "\e692";
}

.icon-zanting2:before {
  content: "\e693";
}

.icon-shangyiqu:before {
  content: "\e694";
}

.icon-xiayiqu:before {
  content: "\e695";
}

.icon-tuichu1:before {
  content: "\e696";
}

.icon-lishibofang:before {
  content: "\e697";
}

.icon-diantai:before {
  content: "\e698";
}

.icon-yinleguan:before {
  content: "\e699";
}

.icon-shipin:before {
  content: "\e69a";
}

.icon-bofangliebiao:before {
  content: "\e69b";
}

.icon-yinliang:before {
  content: "\e69c";
}

.icon-bofangduilie:before {
  content: "\e69d";
}

.icon-shoucang1:before {
  content: "\e69e";
}

.icon-xiazai:before {
  content: "\e69f";
}

.icon-pinglun:before {
  content: "\e6a0";
}

.icon-CD:before {
  content: "\e6a1";
}

.icon-erji:before {
  content: "\e6a2";
}

.icon-luyin:before {
  content: "\e6a3";
}

.icon-suijibofang:before {
  content: "\e6a4";
}

.icon-shunxubofang:before {
  content: "\e6a5";
}

.icon-danquxunhuan:before {
  content: "\e6a6";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a7";
}

.icon-bofangMV:before {
  content: "\e6a8";
}

.icon-tianjiadao:before {
  content: "\e6a9";
}

.icon-jubao:before {
  content: "\e6aa";
}

.icon-huiyuanzhuanxiang:before {
  content: "\e6ab";
}
